{% extends 'base.html' %}

{% block head %}
<title>Fiber Segmentation</title>

{% endblock %}

{% block body %} 
<br><br>
<div class="container">
    <div class="jumbotron">
        <h1>Fluorescent Fiber Segmentation</h1>
        <p>This application takes a PNG or TIFF file of fluorescent fibers and segments fiber signal. It then processes the segmentation to generate downloadable SVG files.</p>
        
        {% if download == False %}
        <form action="/" method="POST" enctype="multipart/form-data">
            <h3>1. Select your image file</h3>
            <br>
            <input type="file" name="image[]" id="image[]" multiple='' accept=".tif,.png,.tiff" required>
            <br>
            <h3>2. Select appropiate parameters</h3>
            <p>Determine if your image is a grayscale or color image.</p>
            <!--p style="font-size:12pt">Note, "Color" is the default selection. </p-->
            <!--input style="margin-left:  0px;" name="channel" type="radio" id="red"   value="red"            > Red </input>
            <input style="margin-left: 16px;" name="channel" type="radio" id="green" value="green"          > Green </input>
            <input style="margin-left: 16px;" name="channel" type="radio" id="blue"  value="blue"           > Blue </input-->
            <input style="margin-left: 0px;"  name="channel" type="radio" id="gray"   value="gray"           > Gray </label>
            <input style="margin-left: 16px;" name="channel" type="radio" id="color"  value="color" checked > Color </label>
            <br><br>
            <p>Choose segmentation tool.</p>
            <input style="margin-left: 0px;" name="U-Net_AgRP" type="checkbox" id="U-Net_AgRP" value="1" checked> U-Net trained on AgRP Darkfield</label>
            <br><br>
            <p>Specify desired threshold between 0 and 1.</p>
            <input name="threshold" type=number min=0 max=1 step=0.1 value="0.5">
            <br><br>
            <p>Choose desired output format.</p>
            <input style="margin-left: 0px;"  name="raw_output"      type="checkbox" id="raw"      value="1" > Raw Model Prediction (PNG)</label>
            <input style="margin-left: 16px;" name="thrs_output"     type="checkbox" id="thrs"     value="1" > Threshold Prediction (PNG)</label>
            <input style="margin-left: 16px;" name="contour_output"  type="checkbox" id="contour"  value="1" > Contour of Threshold Prediction (SVG) </label>
            <input style="margin-left: 16px;" name="skeleton_output" type="checkbox" id="skeleton" value="1" checked > Skeleton of Threshold Prediction (SVG) </label>

            <!--input style="margin-left: 0px;"  name="raw"      id="raw"      type="checkbox" > Raw Model Prediction (PNG)</input>
            <input style="margin-left: 16px;" name="contour"  id ="contour" type="checkbox" > Contour of Threshold Prediction (SVG)</input>
            <input style="margin-left: 16px;" name="skeleton" id="skeleton" type="checkbox" checked> Skeleton of Threshold Prediction (SVG)</input>
            <!--input style="margin-left: 16px;" name="channel" type="checkbox" id="gray"  value="gray"           > Gray </label>
            <input style="margin-left: 16px;" name="channel" type="checkbox" id="color"  value="color" checked > Color </label-->
            <br><br><br>
            <button type="submit" class="btn btn-warning">Run</button> <!-- id="compute" onclick="getDensityMap()" -->
        </form>
        <br><br>
        {% elif multiple == False %}
        <form action="/" method="GET">
            <button type="submit"  class="btn btn-success"><a href="{{url_for('download_file')}}" style="text-decoration:none;color: #FFFFFF">Download</a></button>
            <button type="submit"  class="btn btn-warning"><a href="{{url_for('again')}}" style="text-decoration:none;color: #FFFFFF">Run Another</a></button>
        </form>
        {% elif multiple == True %}
        <form action="/" method="GET">
            <button type="submit"  class="btn btn-success"><a href="{{url_for('download_zip')}}" style="text-decoration:none;color: #FFFFFF">Download</a></button>
            <button type="submit"  class="btn btn-warning"><a href="{{url_for('again')}}" style="text-decoration:none;color: #FFFFFF">Run Another</a></button>
        </form>
        <br><br>
        {% endif  %}
        <!--div class="embed-responsive embed-responsive-16by9" >
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/505908696"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div-->
        <br>
    </div>
</div>
<br><br>
{% endblock %}

